<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings and statistics</title>
    <style>
        body {
            background-color: #EEEEEE;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Rankings and statistics for user: <span th:text="${user.nickName}"></span></h1>

<h2>Number of peaks climbed: <span th:text="${numPeaksClimbed}"></span></h2>
<h2>Total distance climbed: <span th:text="${totalDistance}"></span> km</h2>
<h2>Total vertical gain: <span th:text="${totalVerticalGain}"></span> m</h2>

<h2>List of 3 highest peaks:</h2>
<ul>
    <li th:each="peak : ${listHighestPeaks}">[<span th:text="${peak.name}"></span>] - <span th:text="${peak.height}"></span> m</li>
</ul>

<h2>List of 3 Greatest vertical gains:</h2>
<ul>
    <li th:each="peak : ${listGreatestVerticalGains}">[<span th:text="${peak.name}"></span>] - <span th:text="${peak.verticalGain}"></span> m</li>
</ul>

<h2>List of 3 greatest distances:</h2>
<ul>
    <li th:each="peak : ${listGreatestDistances}">[<span th:text="${peak.name}"></span>] - <span th:text="${peak.distance}"></span> km</li>
</ul>

<h2>Most difficult trip:</h2>
<ul>
    <li th:each="peak : ${mostDifficultTrip}">[<span th:text="${peak.name}"></span>] - Vertical Gain: <span th:text="${peak.verticalGain}"></span> m, Distance: <span th:text="${peak.distance}"></span> km</li>
</ul>

<h2>All trips:</h2>
<ul>
    <li th:each="peak : ${allTrips}">[<span th:text="${peak.name}"> </span>] - Height: <span th:text="${peak.height}"></span> m, </span> - Vertical Gain: <span th:text="${peak.verticalGain}"></span> m, Distance: <span th:text="${peak.distance}"></span> km</li>
</ul>
</body>
</html>
